[lang=ar] {
  /*
  Responsive CSS
  ============================*/
}
[lang=ar] body {
  direction: rtl;
}
[lang=ar] .navbar-brand {
  margin-right: 0;
}
[lang=ar] .top-panel .panel-close-btn {
  left: 15px;
  right: auto;
}
[lang=ar] .top-header-right-nav {
  text-align: left;
  padding-right: 0;
}
[lang=ar] .top-header-right-nav li {
  margin-left: 22px;
  margin-right: 0;
}
[lang=ar] .top-header-right-nav li:last-child {
  margin-left: 0;
}
[lang=ar] .top-header-right-nav li::before {
  left: -12px;
  right: auto;
}
[lang=ar] .top-header-right-nav li a::before {
  right: 0;
  left: auto;
}
[lang=ar] .top-header-right-nav li a i {
  margin-right: 2px;
  margin-left: 0;
}
[lang=ar] .top-header-right-nav .languages-list .nice-select {
  padding-right: 0;
  padding-left: 10px;
}
[lang=ar] .top-header-right-nav .languages-list .nice-select:after {
  left: 0;
  right: auto;
}
[lang=ar] .top-header-right-nav .languages-list .nice-select .list {
  right: auto;
  left: 0;
}
[lang=ar] .top-header-right-nav .languages-list .nice-select .list li {
  margin-left: 0;
}
[lang=ar] .top-header-nav {
  padding-right: 0;
  text-align: right;
}
[lang=ar] .top-header-nav li {
  margin-left: 22px;
  margin-right: 0;
}
[lang=ar] .top-header-nav li:last-child {
  margin-left: 0;
}
[lang=ar] .top-header-nav li::before {
  left: -12px;
  right: auto;
}
[lang=ar] .top-header-nav li a::before {
  right: 0;
  left: auto;
}
[lang=ar] .novine-nav .navbar ul {
  padding: 0;
}
[lang=ar] .novine-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  right: 0;
  left: auto;
  text-align: right;
}
[lang=ar] .novine-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 220px;
  left: auto;
}
[lang=ar] .novine-nav .others-option {
  margin-right: auto;
  margin-left: 0;
  padding-right: 0;
}
[lang=ar] .novine-nav .others-option .option-item {
  margin-left: 22px;
  margin-right: 0;
}
[lang=ar] .novine-nav .others-option .option-item::before {
  left: -12px;
  right: auto;
}
[lang=ar] .novine-nav .others-option .option-item:last-child {
  margin-left: 0;
}
[lang=ar] .novine-nav .others-option .option-item a::before {
  right: 0;
  left: auto;
}
[lang=ar] .shoppingCartModal.modal.right.fade.show .modal-dialog {
  left: 0;
  right: auto;
}
[lang=ar] .shoppingCartModal.modal.right.fade .modal-dialog {
  left: -420px;
  right: auto;
}
[lang=ar] .shoppingCartModal .close {
  left: 15px;
  right: auto;
}
[lang=ar] .shoppingCartModal .modal-content .modal-body .product-cart-content .product-cart {
  padding-right: 60px;
  padding-left: 0;
}
[lang=ar] .shoppingCartModal .modal-content .modal-body .product-cart-content .product-cart .product-image {
  right: 0;
  left: auto;
}
[lang=ar] .shoppingWishlistModal.modal.right.fade.show .modal-dialog {
  left: 0;
  right: auto;
}
[lang=ar] .shoppingWishlistModal.modal.right.fade .modal-dialog {
  left: -420px;
  right: auto;
}
[lang=ar] .shoppingWishlistModal .close {
  left: 15px;
  right: auto;
}
[lang=ar] .shoppingWishlistModal .modal-content .modal-body .product-cart-content .product-cart {
  padding-right: 60px;
  padding-left: 0;
}
[lang=ar] .shoppingWishlistModal .modal-content .modal-body .product-cart-content .product-cart .product-image {
  right: 0;
  left: auto;
}
[lang=ar] .search-overlay .search-overlay-form form .input-search {
  padding: 0 25px 0 0;
}
[lang=ar] .search-overlay .search-overlay-form form button {
  right: auto;
  left: 5px;
}
[lang=ar] .search-overlay.search-popup {
  left: 0;
  right: auto;
}
[lang=ar] .search-overlay.search-popup .search-form .search-input {
  padding-right: 10px;
  padding-left: 0;
}
[lang=ar] .search-overlay.search-popup .search-form .search-button {
  left: 0;
  right: auto;
}
[lang=ar] .main-banner-content .btn-primary {
  margin-left: 10px;
  margin-right: 0;
}
[lang=ar] .offer-box .box-inner ul {
  padding-right: 0;
}
[lang=ar] .offer-box .box-inner ul li a::before {
  right: 0;
  left: auto;
}
[lang=ar] .products-category-tab .tabs li a {
  padding-right: 18px;
  padding-left: 0;
}
[lang=ar] .products-category-tab .tabs li a .dot {
  right: 0;
  left: auto;
}
[lang=ar] .productQuickView .modal-content button.close {
  left: 0;
  right: auto;
}
[lang=ar] .productQuickView .modal-content .product-content .product-review .rating {
  padding-left: 5px;
  padding-right: 0;
}
[lang=ar] .productQuickView .modal-content .product-content .product-color-switch ul {
  padding-right: 0;
}
[lang=ar] .productQuickView .modal-content .product-content .product-size-wrapper ul {
  padding-right: 0;
}
[lang=ar] .productQuickView .modal-content .product-content .product-add-to-cart .input-counter {
  margin-left: 10px;
  margin-right: 0;
}
[lang=ar] .single-product-box .product-image ul {
  padding-right: 0;
}
[lang=ar] .single-product-box .product-content .product-price .old-price {
  margin-right: 0;
  margin-left: 5px;
}
[lang=ar] .section-title h2 {
  padding-right: 20px;
  padding-left: 0;
}
[lang=ar] .section-title h2 .dot {
  right: 0;
  left: auto;
}
[lang=ar] .newsletter-form button {
  left: 0;
  right: auto;
}
[lang=ar] .single-footer-widget h3::before {
  right: 0;
  left: auto;
}
[lang=ar] .single-footer-widget .information-links li a:hover {
  padding-right: 5px;
  padding-left: 0;
}
[lang=ar] .single-footer-widget .quick-links li a:hover {
  padding-right: 5px;
  padding-left: 0;
}
[lang=ar] .single-footer-widget .footer-contact-info li {
  padding-right: 20px;
  padding-left: 0;
}
[lang=ar] .single-footer-widget .footer-contact-info li i {
  right: 0;
  left: auto;
}
[lang=ar] .copyright-area .payment-card {
  text-align: left;
}
[lang=ar] .go-top {
  left: 15px;
  right: auto;
}
[lang=ar] .single-blog-post .blog-image .post-tag {
  right: 0;
  left: auto;
}
[lang=ar] .banner-content::before {
  right: -50px;
  left: auto;
}
[lang=ar] .single-category-boxes .shop-now-btn {
  left: 0;
  right: auto;
}
[lang=ar] .single-category-boxes h3 {
  right: 25px;
  left: auto;
}
[lang=ar] .category-boxes .content {
  right: 30px;
  left: auto;
}
[lang=ar] .product-box .product-image ul {
  padding-right: 0;
}
[lang=ar] .top-header-style-two .top-header-right-nav {
  text-align: right;
}
[lang=ar] .top-header-others-option {
  text-align: left;
}
[lang=ar] .top-header-others-option .option-item {
  margin-left: 17px;
  margin-right: 0;
}
[lang=ar] .top-header-others-option .option-item::before {
  left: -12px;
  right: auto;
}
[lang=ar] .navbar-area.navbar-style-two .novine-nav .navbar .navbar-nav {
  margin: auto;
}
[lang=ar] .products-category-tab-style-2 .title {
  right: 20px;
  left: auto;
}
[lang=ar] .products-category-tab-style-2 .title h2 {
  padding-right: 20px;
  padding-left: 0;
}
[lang=ar] .products-category-tab-style-2 .title h2 .dot {
  right: 0;
  left: auto;
}
[lang=ar] .products-category-tab-style-2 .tabs {
  padding-right: 0;
  text-align: left;
}
[lang=ar] .products-category-tab-style-2 .tabs li {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .products-category-tab-style-2 .tabs li:last-child {
  margin-left: 0;
}
[lang=ar] .products-category-tab-style-2 .tabs li a::before {
  right: 0;
  left: auto;
}
[lang=ar] .single-product-item .product-content ul {
  padding-right: 0;
  text-align: left;
}
[lang=ar] .single-product-item .product-content ul li {
  margin-right: 5px;
  margin-left: 0;
}
[lang=ar] .single-product-item .product-content ul li:first-child {
  margin-right: 0;
}
[lang=ar] .single-blog-post-box .post-content .post-meta {
  padding-right: 0;
}
[lang=ar] .single-blog-post-box .post-content .post-meta li {
  margin-left: 25px;
  margin-right: 0;
}
[lang=ar] .single-blog-post-box .post-content .post-meta li:last-child {
  margin-left: 0;
}
[lang=ar] .single-blog-post-box .post-content .post-meta li::before {
  left: -20px;
  right: auto;
}
[lang=ar] .top-header-social {
  padding-right: 0;
}
[lang=ar] .top-header-social li {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .top-header-social li:last-child {
  margin-left: 0;
}
[lang=ar] .top-header-social li::before {
  left: -10px;
  right: auto;
}
[lang=ar] .ml-auto, [lang=ar] .mx-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}
[lang=ar] .category-box .category-content {
  right: 30px;
  left: auto;
}
[lang=ar] .novine-nav .navbar .navbar-nav .nav-item:last-child .dropdown-menu {
  right: auto;
  left: 0;
}
[lang=ar] .novine-boxed .novine-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  right: auto;
  left: 0;
}
[lang=ar] .page-title-area ul {
  padding-right: 0;
}
[lang=ar] .page-title-area ul li {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .page-title-area ul li:last-child {
  margin-left: 0;
}
[lang=ar] .page-title-area ul li::before {
  right: -10px;
  left: auto;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .selected-filters-wrap-list ul {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .collapse-widget-title::before {
  right: 0;
  left: auto;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .collapse-widget-title i {
  right: 2px;
  left: auto;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .collections-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .brands-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .size-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .color-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .tags-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .price-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .aside-single-products .products-image {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collapse-widget .aside-widget-title::before {
  right: 0;
  left: auto;
}
[lang=ar] .woocommerce-pagination ul {
  padding-right: 0;
}
[lang=ar] .products-filter-options span {
  padding-left: 5px;
  padding-right: 0;
}
[lang=ar] .products-filter-options .show-products-number .nice-select {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .products-filter-options .show-products-number .nice-select .current {
  padding-right: 5px;
  padding-left: 0;
}
[lang=ar] .products-filter-options .show-products-number .nice-select .list {
  right: auto;
  left: 0;
}
[lang=ar] .products-filter-options .products-ordering-list .nice-select .current {
  padding-right: 5px;
  padding-left: 0;
}
[lang=ar] .products-filter-options .products-ordering-list .nice-select .list {
  right: auto;
  left: 0;
}
[lang=ar] .products-filter-options .products-ordering-list .nice-select .option {
  text-align: right;
}
[lang=ar] .products-collections-listing.products-row-view .single-product-box .product-content {
  padding-right: 25px;
  padding-left: 0;
  text-align: right;
}
[lang=ar] .slick-slide {
  float: right;
}
[lang=ar] .product-details-content .product-review .rating {
  padding-left: 5px;
  padding-right: 0;
}
[lang=ar] .product-details-content .product-color-switch ul {
  padding-right: 0;
}
[lang=ar] .product-details-content .product-size-wrapper ul {
  padding-right: 0;
}
[lang=ar] .product-details-content .product-info-btn a:not(:first-child) {
  margin-right: 15px;
  margin-left: 0;
}
[lang=ar] .product-details-content .product-info-btn a i {
  margin-left: 3px;
  margin-right: 0;
}
[lang=ar] .product-details-content .product-add-to-cart .input-counter {
  margin-left: 10px;
  margin-right: 0;
}
[lang=ar] .product-details-content .buy-checkbox-btn .cbx span:last-child {
  padding-right: 4px;
  padding-left: 0;
}
[lang=ar] .sizeGuideModal .modal-content button.close {
  left: 0;
  right: auto;
}
[lang=ar] .productShippingModal .modal-content .shipping-content ul {
  padding-right: 0;
}
[lang=ar] .productShippingModal .modal-content .shipping-content ul li {
  padding-right: 11px;
  padding-left: 0;
}
[lang=ar] .productShippingModal .modal-content .shipping-content ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .productShippingModal .modal-content button.close {
  left: 0;
  right: auto;
}
[lang=ar] .products-details-tab .tabs li a {
  padding-right: 18px;
  padding-left: 0;
}
[lang=ar] .products-details-tab .tabs li a .dot {
  right: 0;
  left: auto;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ul, [lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ol {
  padding-right: 0;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ul li, [lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ol li {
  padding-right: 12px;
  padding-left: 0;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ul li::before, [lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content ol li::before {
  right: 0;
  left: auto;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .btn {
  left: 0;
  right: auto;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
  padding-left: 200px;
  padding-right: 0;
}
[lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
  left: 20px;
  right: auto;
}
[lang=ar] .product-single-aside .services-aside .facility-block h3 {
  padding-right: 25px;
  padding-left: 0;
}
[lang=ar] .product-single-aside .services-aside .facility-block h3 i {
  right: 0;
  left: auto;
}
[lang=ar] .single-lookbook-box .category span a {
  padding-left: 3px;
  padding-right: 0;
}
[lang=ar] .cart-table table tbody tr td.product-subtotal .remove {
  float: left;
}
[lang=ar] .cart-table table tbody tr td.product-name ul {
  padding-right: 0;
}
[lang=ar] .text-right {
  text-align: left !important;
}
[lang=ar] .cart-totals ul li span {
  float: left;
}
[lang=ar] .order-details .order-table table thead tr th {
  text-align: right;
}
[lang=ar] .order-details .order-table table tbody tr td {
  text-align: right;
}
[lang=ar] .order-details .payment-method p [type=radio]:checked + label, [lang=ar] .order-details .payment-method p [type=radio]:not(:checked) + label {
  padding-right: 27px;
  padding-left: 0;
}
[lang=ar] .order-details .payment-method p [type=radio]:checked + label::before, [lang=ar] .order-details .payment-method p [type=radio]:not(:checked) + label::before {
  right: 0;
  left: auto;
}
[lang=ar] .order-details .payment-method p [type=radio]:checked + label::after, [lang=ar] .order-details .payment-method p [type=radio]:not(:checked) + label::after {
  right: 3px;
  left: auto;
}
[lang=ar] .billing-details .form-group .select-box .nice-select {
  text-align: right !important;
}
[lang=ar] .billing-details .form-group .select-box .nice-select:after {
  left: 12px;
  right: auto;
}
[lang=ar] .billing-details .form-group .select-box .nice-select .list .option {
  text-align: right;
}
[lang=ar] .form-check {
  padding-right: 1.25rem;
  padding-left: 0;
}
[lang=ar] .form-check .form-check-input {
  margin-right: -1.25rem;
  margin-left: 0;
  float: right;
}
[lang=ar] .products-compare-table .single-product-box .product-content {
  text-align: right;
}
[lang=ar] .customer-service-content h3 {
  padding-right: 23px;
  padding-left: 0;
}
[lang=ar] .customer-service-content h3 i {
  right: 0;
  left: auto;
}
[lang=ar] .customer-service-content ul {
  padding-right: 0;
}
[lang=ar] .customer-service-content ul li {
  padding-right: 11px;
  padding-left: 0;
}
[lang=ar] .customer-service-content ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .products-filter-options span a {
  margin-left: 20px;
  margin-right: 0;
}
[lang=ar] .about-image .about-img1 {
  right: auto;
  left: -100px;
}
[lang=ar] .about-image .about-img2 {
  right: 20px;
  left: auto;
}
[lang=ar] .sizing-guide-table .sizing-guide-info {
  padding-right: 0;
}
[lang=ar] .faq-accordion .accordion .accordion-item .accordion-title {
  padding-left: 20px;
  padding-right: 0;
}
[lang=ar] .faq-accordion .accordion .accordion-item .accordion-title i {
  left: 0;
  right: auto;
}
[lang=ar] .faq-accordion .accordion .accordion-item .accordion-content ul {
  padding-right: 0;
}
[lang=ar] .faq-accordion .accordion .accordion-item .accordion-content ul li {
  padding-right: 12px;
  padding-left: 0;
}
[lang=ar] .faq-accordion .accordion .accordion-item .accordion-content ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .contact-info .contact-list {
  padding-right: 0;
}
[lang=ar] .contact-info .contact-list li {
  padding-right: 20px;
  padding-left: 0;
}
[lang=ar] .contact-info .contact-list li i {
  right: 0;
  left: auto;
}
[lang=ar] .contact-info .opening-hours {
  padding-right: 0;
}
[lang=ar] .contact-info .social {
  padding-right: 0;
}
[lang=ar] .contact-info .social li {
  margin-left: 4px;
  margin-right: 0;
}
[lang=ar] .contact-info .social li:last-child {
  margin-left: 0;
}
[lang=ar] .list-unstyled {
  padding-right: 0;
}
[lang=ar] .text-left {
  text-align: right !important;
}
[lang=ar] .offset-lg-2 {
  margin-right: 16.666667%;
  margin-left: 0;
}
[lang=ar] .widget-area .widget_novine_posts_thumb .item .thumb {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .widget-area .widget_recent_comments ul li {
  padding-right: 15px;
  padding-left: 0;
}
[lang=ar] .widget-area .widget_recent_comments ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .widget-area .widget_recent_entries ul li {
  padding-right: 15px;
  padding-left: 0;
}
[lang=ar] .widget-area .widget_recent_entries ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .widget-area .widget_archive ul li {
  padding-right: 15px;
  padding-left: 0;
}
[lang=ar] .widget-area .widget_archive ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .widget-area .widget_meta ul li {
  padding-right: 15px;
  padding-left: 0;
}
[lang=ar] .widget-area .widget_meta ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .widget-area .widget_categories ul li {
  padding-right: 15px;
  padding-left: 0;
}
[lang=ar] .widget-area .widget_categories ul li::before {
  right: 0;
  left: auto;
}
[lang=ar] .blog-details .article-content .entry-meta li {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .blog-details .article-content .entry-meta li:last-child {
  margin-left: 0;
}
[lang=ar] .blog-details .article-content .entry-meta li i {
  margin-left: 3px;
  margin-right: 0;
}
[lang=ar] .blog-details .article-content .category li {
  margin-left: 4px;
  margin-right: 0;
}
[lang=ar] .blog-details .article-header .entry-meta li {
  margin-left: 15px;
  margin-right: 0;
}
[lang=ar] .blog-details .article-header .entry-meta li:last-child {
  margin-left: 0;
}
[lang=ar] .blog-details .article-header .entry-meta li i {
  margin-left: 3px;
  margin-right: 0;
}
[lang=ar] blockquote {
  padding: 30px 72px 30px 30px !important;
}
[lang=ar] blockquote::before {
  right: 30px;
  left: auto;
}
[lang=ar] .comments-area .comment-body {
  margin-right: 65px;
  margin-left: 0;
}
[lang=ar] .comments-area .comment-author .avatar {
  right: -65px;
  left: auto;
}
[lang=ar] .comments-area .children {
  margin-right: 25px;
  margin-left: 0;
}
[lang=ar] .comments-area .comment-respond .comment-form-cookies-consent {
  padding-right: 20px;
  padding-left: 0;
}
[lang=ar] .comments-area .comment-respond .comment-form-cookies-consent input {
  right: 0;
  left: auto;
}
[lang=ar] .novine-boxed .main-banner-content {
  margin-right: 25px;
  margin-left: 0;
}
[lang=ar] .novine-boxed .top-header-others-option .option-item:last-child {
  margin-left: 0;
}
[lang=ar] .novine-boxed .navbar-area.navbar-style-two .navbar-nav.me-auto {
  margin-right: auto !important;
  margin-left: unset !important;
}
[lang=ar] .products-category-tab-style-2 .react-tabs__tab-list {
  text-align: left;
  padding: 0;
}
[lang=ar] .products-category-tab-style-2 .react-tabs__tab-list li {
  margin-right: 0;
  margin-left: 15px;
}
[lang=ar] .products-category-tab-style-2 .react-tabs__tab-list li:last-child {
  margin-left: 0;
}
[lang=ar] .single-product-item .product-content .product-price .old-price {
  margin-right: 0;
  margin-left: 10px;
}
[lang=ar] .furniture-banner .main-banner-content {
  text-align: right;
}
[lang=ar] .woocommerce-sidebar-area .selected-filters-wrap-list ul {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .collections-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .brands-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .size-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .price-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .color-list-row {
  padding-right: 0;
}
[lang=ar] .woocommerce-sidebar-area .aside-single-products .products-content .product-price .old-price {
  margin-right: 0;
  margin-left: 10px;
}
[lang=ar] .about-area {
  overflow: hidden;
}
[lang=ar] .faq-accordion .accordion .accordion__button {
  text-align: right;
}
[lang=ar] .faq-accordion .accordion .accordion__button::before {
  margin-right: 0;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  [lang=ar] .top-header-nav {
    text-align: center !important;
  }
  [lang=ar] .top-header-right-nav {
    text-align: center;
  }
  [lang=ar] .search-overlay.search-popup {
    left: auto !important;
    right: 0 !important;
  }
  [lang=ar] .go-top {
    left: 10px !important;
    right: auto !important;
  }
  [lang=ar] .trending-products-area {
    overflow: hidden !important;
  }
  [lang=ar] .best-sellers-area {
    overflow: hidden !important;
  }
  [lang=ar] .popular-products-area {
    overflow: hidden !important;
  }
  [lang=ar] .category-products-area {
    overflow: hidden !important;
  }
  [lang=ar] .products-category-tab-style-2 .title {
    right: 0 !important;
  }
  [lang=ar] .product-details-content .product-info-btn a:not(:first-child) {
    margin-right: 0;
    margin-top: 15px;
  }
  [lang=ar] .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-left: 0 !important;
  }
  [lang=ar] .offset-lg-2 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  [lang=ar] .about-image .about-img2 {
    right: 0 !important;
  }
  [lang=ar] .novine-boxed .main-banner-content {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [lang=ar] .top-header-nav {
    text-align: center !important;
  }
  [lang=ar] .search-overlay.search-popup {
    left: auto !important;
    right: 0 !important;
  }
  [lang=ar] .offset-lg-2 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [lang=ar] .novine-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: auto !important;
    left: 232px !important;
  }
}
@media (max-width: 991px) {
  [lang=ar] .novine-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 15px;
    left: auto;
  }
  [lang=ar] .novine-nav .others-option {
    right: auto;
    left: 60px;
  }
}/*# sourceMappingURL=rtl.css.map */